<nav class="navbar navbar-dark bg-info">
  <div class="d-flex justify-content-end">
    <button
      class="navbar-toggler d-md-block d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarToggleExternalContent"
      aria-controls="navbarToggleExternalContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div>
      <h1 class="text-primary ps-3 d-lg-block d-md-none d-sm-none d-none">
        <i class="bi bi-layout-split"></i>
        MII
      </h1>
    </div>
  </div>
</nav>
<div
  class="collapse d-lg-block"
  id="navbarToggleExternalContent"
  data-bs-theme="dark"
>
  <div class="bg-primary-subtle text-light p-4 custom-ukuran">
    <div class="row">
      <div class="col">
        <button class="btn w-100 text-start fs-5" routerLink="/card">
          <i class="bi bi-card-heading text-success"></i> Card
        </button>
      </div>
    </div>

    <div class="row">
      <div class="col">
        <button class="btn w-100 text-start fs-5" routerLink="/grafik">
          <i class="bi bi-bar-chart-line text-success"></i> Grafik
        </button>
      </div>
    </div>
  </div>
</div>
