<div
  *ngIf="showModalView"
  class="modal fade show"
  tabindex="-1"
  style="display: block; background-color: rgba(0, 0, 0, 0.5)"
  aria-modal="true"
  role="dialog"
>
  <div class="modal-dialog modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">View Data</h5>
        <button
          type="button"
          class="btn-close"
          aria-label="Close"
          (click)="close()"
        ></button>
      </div>
      <div class="container">
        <h3>{{ dataView.title }}</h3>
        <br />
        <h5>{{ dataView.body }}</h5>
      </div>
    </div>
  </div>
</div>
